@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }

  .mob-menu-contacts-tel {
    font-size: 36px;
  }

  .mob-menu-soc-list {
    gap: 56px;
  }

  .modal {
    min-width: 392px;
  }
}
